version: '3.8'

services:
  node_1:
    build: .
    container_name: node_1
    environment:
      - NODE_ID=node_1
      - PORT=50051
      - PEERS=node_2:50051,node_3:50051,node_4:50051
      - PYTHONUNBUFFERED=1
    volumes:
      - ./logs:/logs
    networks:
      - blockchain-net

  node_2:
    build: .
    container_name: node_2
    environment:
      - NODE_ID=node_2
      - PORT=50051
      - PEERS=node_1:50051,node_3:50051,node_4:50051
      - PYTHONUNBUFFERED=1
    volumes:
      - ./logs:/logs
    networks:
      - blockchain-net

  node_3:
    build: .
    container_name: node_3
    environment:
      - NODE_ID=node_3
      - PORT=50051
      - PEERS=node_1:50051,node_2:50051,node_4:50051
      - PYTHONUNBUFFERED=1
    volumes:
      - ./logs:/logs
    networks:
      - blockchain-net

  node_4:
    build: .
    container_name: node_4
    environment:
      - NODE_ID=node_4
      - PORT=50051
      - PEERS=node_1:50051,node_2:50051,node_3:50051
      - PYTHONUNBUFFERED=1
    volumes:
      - ./logs:/logs
    networks:
      - blockchain-net


networks:
  blockchain-net:
    driver: bridge
